<p-card header="Lista de Pedidos">
  <div class="pb-2 m-2 text-right">
    <button [routerLink]="['form']" pButton type="button" label="Novo" class="ui-button-raised"></button>
  </div>
  <p-table  [columns]="columns" [value]="lista" (onLazyLoad)="carregaLista()" [lazy]="true" [loading]="loading">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pedido>
      <tr>
        <td>{{pedido.id}}</td>
        <td>{{pedido.dataEmissao}}</td>
        <td>{{pedido.total}}</td>
        <td class="text-center">
          <i title="Editar" class="pi pi-pencil" [routerLink]="['form']" [queryParams]="{ id: pedido.id }"></i>
          <i title="Excluir" class="pi pi-trash" (click)="deleteById(pedido.id)"></i>
          <i class="pi pi-file-o" [routerLink]="['detalhes']" [queryParams]="{ id: pedido.id }" title="Ver Detalhes"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      Sem registros.
    </ng-template>
    <ng-template pTemplate="summary">
      {{lista?.length}} pedidos.
    </ng-template>
  </p-table>

  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</p-card>
