<p-card header="Cliente">
  <div class="pb-2 m-2 text-right">
    <button pButton type="button" (click)="save()" label="Salvar" class="ui-button-raised"></button>
  </div>
  <div class="container">
    <p-card header="Dados do Pedido">

    </p-card>

    <button type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Realizar Pedido"></button>

    <p-dialog header="Item Pedido" [(visible)]="display" [style]="{width: '500px', height: '500px'}">
        <p-dropdown [options]="produtosList" [(ngModel)]="produto" optionLabel="descricao"></p-dropdown>
        <span class="ui-float-label mb-5">

        </span>

    </p-dialog>

    <p-card header="Atribuição ao Cliente">
      <p-dropdown [options]="clientesList" [(ngModel)]="cliente" optionLabel="nome"></p-dropdown>
    </p-card>




  </div>

</p-card>
